:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --col-indent: 0;
  --row-indent: var(--col-indent);
  --items: 0
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 12px;
}

section {
  padding: 188px 0;
}

/* Logo  */

.logo-head,
.logo-foot {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-head-studio {
  color: var(--navy-blue);
}

.logo-foot-studio {
  color: var(--cloud);
}

/* Header */

.header > .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--cornflower);
}

/* Header nav list */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

/* Header address  */
.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);
  padding: 24px 0;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* Head section */
.head-section {
  background-color: var(--navy-blue);
  padding: 188px 0;
}

/* Head section H1 */
.head-section-h {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);

  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}


/* Head section button */
.head-section-button {
  background: var(--iris);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  cursor: pointer;  

  display: block;
  margin: auto;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;  
}

.head-section-button:hover,
.head-section-button:focus {
  background-color: var(--ocean);
}


/* Feature section  */
.feature-section {
  padding: 120px 0;
  --items: 4;
  --col-indent: 24px;
}

.feature-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.feature-items {
  margin-bottom: 8px;
}


/* Team section */

.team-section {
  background-color: var(--cloud);
  padding: 120px 0;
  --items: 4;
  --col-indent: 24px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-list .head-three,
.team-card .cl-p {
  text-align: center;
}

.team-member {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding: 32px 0;
}


/* Porfolio section  */

.portfolio-section {
  padding: 120px 0;
  --items: 3;
  --col-indent: 24px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.team-list li,
.feature-list li,
.portfolio-list li{
  width: calc((100% - var(--col-indent) * (var(--items) - 1)) / var(--items));
}

/* Footer */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer .cl-p {
  color: var(--cloud);
  max-width: 264px;
  margin-top: 16px;
}

.footer a {
  display: inline-block;
  color: var(--iris);
}


/* Common */

a:hover,
a:focus {
  color: var(--iris);
}

.head-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.head-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.cl-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  max-width: 264px;
}

a {
  text-decoration: none;
}


